<h2>Bienvenido: <span id="myName"></span></h2>

<div>
    <p>
        Escribe tu mensaje: <input type="text" id="chatBox">
    </p>
    <button id="closeChat">
        Cerrar chat
    </button>
</div>

<div>
    <p class="messages" id="messages"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>